article {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 12px 16px;
}

article h2 {
  font-size: 32px;
  text-align: center;
}

article div {
  display: flex;
  justify-content: center;
  gap: 32px;
}

article div button {
  padding: 0;
  all: unset;
  cursor: pointer;
}

article div button, article div p {
  font-size: 32px;
}